<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>WIKI</title>
	</head>
	<body>
		<header>
			<h1>Titre du Wiki</h1>
			<nav>
				<ul>
					<li><a href="index.html">ACCUEIL</a></li>
					<li><a href="connexion.html">SE CONNECTER</a></li>
					<li><a href="inscription.html">S'INSCRIRE</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>BIENVENUE [USER] - S'INSCRIRE</h2>
			<form method="POST">
				<legend>NOM :</legend>
					<input type="text" name="nom" id="nom"/>
				<legend>PRENOM :</legend>
					<input type="text" name="prenom" id="prenom" />
				<legend>E-MAIL :</legend>
					<input type="mail" name="mail" id="mail" />
				<legend>MOT DE PASSE</legend>
					<input type="text" name="passwd" id="passwd" />
				<p>
					<input type="submit" value="Valider" />
				</p>
			</form>
		</main>
		<footer>
			<small>
				<p>Ici le pied de page</p>
			</small>
		</footer>
	</body>
</html>