<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>WIKI</title>
	</head>
	<body>
		<header>
			<h1>Titre du Wiki</h1>
			<nav>
				<ul>
					<li><a href="index.html">ACCUEIL</a></li>
					<li><a href="#">ESPACE PERSONNEL</a></li>
					<li><a href="newarticle.html">SOUMETTRE UN ARTICLE</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>BIENVENUE [USER]</h2>
			<form method="POST">
					<input type = "search" name = "terme">
   					<input type = "submit" name = "s" value = "Rechercher">
			</form>
		</main>
		<footer>
			<small>
				<p>Ici le pied de page</p>
			</small>
		</footer>
	</body>
</html>