<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>WIKI</title>
	</head>
	<body>
		<header>
			<h1>Titre du Wiki</h1>
			<nav>
				<ul>
					<li><a href="index.html">ACCUEIL</a></li>
					<li><a href="#">ESPACE PERSONNEL</a></li>
					<li><a href="newarticle.html">SOUMETTRE UN ARTICLE</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Nouvel Article</h2>
			<form method="POST" action=" " id="newArticle">
				
		   			<p>
		   			<label>Titre :</label><p>
		   			<p><input type="text" name="title" /></p>

		   			<p>
		   			<label>Contenu :</label></p>
		   			<p><textarea name="content"></textarea></p>

		   			<input type="submit" name="add" value="Soumettre l'Article" />
			</form>
		</main>
		<footer>
			<small>
				<p>Ici le pied de page</p>
			</small>
		</footer>
	</body>
</html>